.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  min-width: 0;
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.columns-align-top > div {
    align-items: flex-start;
  }

  .columns.columns-align-bottom > div {
    align-items: flex-end;
  }

  .columns.columns-align-middle > div {
    align-items: center;
  }
}

.columns.columns-halign-left > div > div {
  text-align: left;
}

.columns.columns-halign-left > div > div .button-container {
  text-align: left;
}

.columns.columns-halign-center > div > div {
  text-align: center;
}

.columns.columns-halign-center > div > div .button-container {
  text-align: center;
}

.columns.columns-halign-center > div > .columns-img-col img {
  margin-inline: auto;
}

.columns.columns-halign-right > div > div {
  text-align: right;
}

.columns.columns-halign-right > div > div .button-container {
  text-align: right;
}

.columns.columns-halign-right > div > .columns-img-col img {
  margin-inline-start: auto;
}
