@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: var(--hero-height, 300px);
}

.hero h1 {
  font-family: Inter, sans-serif;
  max-width: 1200px;
  color:#00264D;
  font-weight: 800;
  font-size: 64px;
  margin: 28rem auto 0;
}

.hero h2 {
  font-family: Inter, sans-serif;
  max-width: 1200px;
  color: #008EB7;
  font-weight: 800;
  font-size: 64px;
  margin: 0 auto;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
